#map{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


#header{
  position: absolute;
  top: 0;
  background-color: white;
  z-index : 10000;
  height: 100px;

border-bottom-right-radius: 50px 50px;
padding-right: 50px;
padding-bottom: 10px;

}

#content{
  position: absolute;
  bottom: 100px;
  right : 0;
  background-color: white;
  z-index : 10000;


border-top-left-radius: 50px 50px;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;

border-bottom-left-radius: 50px 50px;


}

#home{
  position: absolute;
  right: 50px;
  top : 10px;
  z-index : 10000;

}

.custombutton, .custombutton:active{
  color : white;
  background-color :#007cba;
  border : none;
}

.custombutton:hover{
  color : black;
  background-color :white;
  background-image:url( "../img/black-home-svgrepo-com.svg");
}


.shadow{
box-shadow:0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 -1px 1px rgba(0,0,0,0.12),0 -2px 2px rgba(0,0,0,0.12);)
}

.leaflet-touch .leaflet-control-zoom-out {
    color : white ;
  background-color:#007cba;

}


.leaflet-touch .leaflet-control-zoom-in {
    color : white ;
  background-color:#007cba;

}

.info{
  font-size: 1.4em;
font-family: 'Montserrat', Arial, sans-serif;
line-height: 1.9;
color: #004155;

}

span{
  font-family: 'Montserrat', Arial, sans-serif;

}



.rose {font-size: 1.4em;
font-family: 'Montserrat', Arial, sans-serif;
line-height: 1.9;
  color : #FF6060
}

h1{
font-size: x-large;
color: #004155;
text-shadow: none;
}

h3{
font-family: 'Montserrat', Arial, sans-serif;
color: #004155;
text-shadow: none;
font-size: large;
font-weight: bold;
}


/* Regroupe: Style image + position + typo chiffre*/
.cluster {
  height: 40px;
  width: 27x;
  text-align: center !important;
  line-height: 24px;
  font-size: 14x;
  font-family: 'open_sansregular', sans-serif;
  font-weight: bolder;
  color: #23908a;
  background-image: url('../img/picto/picto-agg.png');
  background-size: 27px 40px;
}
